<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" conten="ie=edge">
<title>Adonis Blog</title>
  {{style('style')}}
  {{style('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')}}
</head>
<body>
@include('inc/navbar')
@!section('bg')
<div class="container">
  @!section('content')
</div>

{{script('https://code.jquery.com/jquery-3.3.1.slim.min.js')}}
{{script('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')}}
{{script('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')}}
</body>
</html>
